<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Configuration>
    <DatabaseServer>gabrielsql.home.flagship-housing.co.uk</DatabaseServer>
    <DatabaseName>BlueflameServicesFsm_Beta</DatabaseName>
    <DatabaseUsername>sagas</DatabaseUsername>
    <DatabasePassword>gr3enTree79</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>Blueflame_Beta</DatabaseFriendlyName>
    <SystemVersion>1.1.3</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>gabrielsupport@blueflame.co.uk</SupportEmailFrom>
    <SupportEmailTo>gabrielsupport@blueflame.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>info@blueflame.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>info@blueflame.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\fileserver.home.flagship-housing.co.uk\Shared_Data\DATA\OPS_R&amp;G_Gasway\Gabriel\Blueflame\Beta\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>811 7491 37</VATNO>

    <CompanyName>Blueflame</CompanyName>
    <CompanyAddres1>2 Commerce Park</CompanyAddres1>
    <CompanyAddres2>Whitehall Road</CompanyAddres2>
    <CompanyAddres3>Colchester</CompanyAddres3>
    <CompanyAddres4>England</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>CO2 8HX</CompanyPostcode>
    <CompanyTelephoneNumber>01206 799994</CompanyTelephoneNumber>
    <CompanyWebsite>www.blueflame.co.uk</CompanyWebsite>
    <CompanyDomain>blueflame.co.uk</CompanyDomain>
  </Configuration>
</NewDataSet>