<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Configuration>
    <DatabaseServer>gw-db01.gasway.co.uk</DatabaseServer>
    <DatabaseName>GaswayServicesFSM</DatabaseName>
    <DatabaseUsername>sa</DatabaseUsername>
    <DatabasePassword>sagas</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>Gasway</DatabaseFriendlyName>
    <SystemVersion>1.4.0.0</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>ITSupport@gasway.co.uk</SupportEmailFrom>
    <SupportEmailTo>ITSupport@gasway.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>fsm@GaswayService.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>enquiries@gasway.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\fileserver.home.flagship-housing.co.uk\Shared_Data\DATA\OPS_R&amp;G_Gasway\Gabriel\Gasway\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>688 4634 78</VATNO>

    <CompanyName>Gasway</CompanyName>
    <CompanyAddres1>18 Burnet Road</CompanyAddres1>
    <CompanyAddres2>Sweet Briar Industrial Estate</CompanyAddres2>
    <CompanyAddres3>Norwich</CompanyAddres3>
    <CompanyAddres4>Norfolk</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>NR3 2BS</CompanyPostcode>
    <CompanyTelephoneNumber>01603 404755</CompanyTelephoneNumber>
    <CompanyWebsite>www.gasway.co.uk</CompanyWebsite>
    <CompanyDomain>gasway.co.uk</CompanyDomain>
  </Configuration>
</NewDataSet>