<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Configuration>
    <DatabaseServer>gabrielsql.home.flagship-housing.co.uk</DatabaseServer>
    <DatabaseName>RftFsm_Beta</DatabaseName>
    <DatabaseUsername>sagas</DatabaseUsername>
    <DatabasePassword>gr3enTree79</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>RftFsm_Beta</DatabaseFriendlyName>
    <SystemVersion>1.1.3</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>gabrielsupport@rft-services.co.uk</SupportEmailFrom>
    <SupportEmailTo>gabrielsupport@rft-services.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>info@rft-services.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>info@rft-services.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\gabrielsql.home.flagship-housing.co.uk\DocumentStore\Beta\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>811 7491 37</VATNO>

    <CompanyName>RFT</CompanyName>
    <CompanyAddres1>Michael Chaplin House</CompanyAddres1>
    <CompanyAddres2>Station Road</CompanyAddres2>
    <CompanyAddres3>Dereham</CompanyAddres3>
    <CompanyAddres4>Norfolk</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>NR19 1DA</CompanyPostcode>
    <CompanyTelephoneNumber>0808 168 4555</CompanyTelephoneNumber>
    <CompanyWebsite>www.rft-services.co.uk</CompanyWebsite>
    <CompanyDomain>rft-services.co.uk</CompanyDomain>
  </Configuration>
</NewDataSet>