<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <!--<Configuration>
    <DatabaseServer>gw-db01.gasway.co.uk</DatabaseServer>
    <DatabaseName>GaswayServicesFSM</DatabaseName>
    <DatabaseUsername>sa</DatabaseUsername>
    <DatabasePassword>sagas</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>LIVE - Gasway</DatabaseFriendlyName>

    <SystemVersion>1.1.3</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>ITSupport@gasway.co.uk</SupportEmailFrom>
    <SupportEmailTo>ITSupport@gasway.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>fsm@GaswayService.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>enquiries@gasway.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\fileserver.home.flagship-housing.co.uk\Shared_Data\DATA\OPS_R&amp;G_Gasway\Gabriel\Gasway\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>811 7491 37</VATNO>

    <CompanyName>Gasway</CompanyName>
    <CompanyAddres1>18 Burnet Road</CompanyAddres1>
    <CompanyAddres2>Sweet Briar Industrial Estate</CompanyAddres2>
    <CompanyAddres3>Norwich</CompanyAddres3>
    <CompanyAddres4>Norfolk</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>NR3 2BS</CompanyPostcode>
    <CompanyTelephoneNumber>01603 404755</CompanyTelephoneNumber>
    <CompanyWebsite>www.gasway.co.uk</CompanyWebsite>
    <CompanyDomain>gasway.co.uk</CompanyDomain>
  </Configuration>-->
  <Configuration>
    <DatabaseServer>gw-db01.gasway.co.uk</DatabaseServer>
    <DatabaseName>GaswayServicesFSM_Beta</DatabaseName>
    <DatabaseUsername>sa</DatabaseUsername>
    <DatabasePassword>sagas</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>BETA - Gasway</DatabaseFriendlyName>

    <SystemVersion>1.1.3</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>ITSupport@gasway.co.uk</SupportEmailFrom>
    <SupportEmailTo>ITSupport@gasway.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>fsm@GaswayService.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>enquiries@gasway.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\fileserver.home.flagship-housing.co.uk\Shared_Data\DATA\OPS_R&amp;G_Gasway\Gabriel\Gasway\Beta\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>811 7491 37</VATNO>

    <CompanyName>Gasway</CompanyName>
    <CompanyAddres1>18 Burnet Road</CompanyAddres1>
    <CompanyAddres2>Sweet Briar Industrial Estate</CompanyAddres2>
    <CompanyAddres3>Norwich</CompanyAddres3>
    <CompanyAddres4>Norfolk</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>NR3 2BS</CompanyPostcode>
    <CompanyTelephoneNumber>01603 404755</CompanyTelephoneNumber>
    <CompanyWebsite>www.gasway.co.uk</CompanyWebsite>
    <CompanyDomain>gasway.co.uk</CompanyDomain>
  </Configuration>
  <!--<Configuration>
    <DatabaseServer>gabrielsql.home.flagship-housing.co.uk</DatabaseServer>
    <DatabaseName>RftServicesFsm</DatabaseName>
    <DatabaseUsername>sagas</DatabaseUsername>
    <DatabasePassword>gr3enTree79</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>LIVE - Rft</DatabaseFriendlyName>

    <SystemVersion>1.1.3</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>gabrielsupport@rft-services.co.uk</SupportEmailFrom>
    <SupportEmailTo>gabrielsupport@rft-services.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>info@rft-services.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>info@rft-services.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\gabrielsql.home.flagship-housing.co.uk\DocumentStore\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>811 7491 37</VATNO>

    <CompanyName>RFT</CompanyName>
    <CompanyAddres1>Michael Chaplin House</CompanyAddres1>
    <CompanyAddres2>Station Road</CompanyAddres2>
    <CompanyAddres3>Dereham</CompanyAddres3>
    <CompanyAddres4>Norfolk</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>NR19 1DA</CompanyPostcode>
    <CompanyTelephoneNumber>0808 168 4555</CompanyTelephoneNumber>
    <CompanyWebsite>www.rft-services.co.uk</CompanyWebsite>
    <CompanyDomain>rft-services.co.uk</CompanyDomain>
  </Configuration>-->
  <Configuration>
    <DatabaseServer>gabrielsql.home.flagship-housing.co.uk</DatabaseServer>
    <DatabaseName>RftFsm_Beta</DatabaseName>
    <DatabaseUsername>sagas</DatabaseUsername>
    <DatabasePassword>gr3enTree79</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>BETA - Rft</DatabaseFriendlyName>

    <SystemVersion>1.1.3</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>gabrielsupport@rft-services.co.uk</SupportEmailFrom>
    <SupportEmailTo>gabrielsupport@rft-services.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>info@rft-services.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>info@rft-services.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\gabrielsql.home.flagship-housing.co.uk\DocumentStore\Beta\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>811 7491 37</VATNO>

    <CompanyName>RFT</CompanyName>
    <CompanyAddres1>Michael Chaplin House</CompanyAddres1>
    <CompanyAddres2>Station Road</CompanyAddres2>
    <CompanyAddres3>Dereham</CompanyAddres3>
    <CompanyAddres4>Norfolk</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>NR19 1DA</CompanyPostcode>
    <CompanyTelephoneNumber>0808 168 4555</CompanyTelephoneNumber>
    <CompanyWebsite>www.rft-services.co.uk</CompanyWebsite>
    <CompanyDomain>rft-services.co.uk</CompanyDomain>
  </Configuration>
  <!--<Configuration>
    <DatabaseServer>gabrielsql.home.flagship-housing.co.uk</DatabaseServer>
    <DatabaseName>BlueflameServicesFsm</DatabaseName>
    <DatabaseUsername>sagas</DatabaseUsername>
    <DatabasePassword>gr3enTree79</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>LIVE - Blueflame</DatabaseFriendlyName>

    <SystemVersion>1.1.3</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>gabrielsupport@blueflame.co.uk</SupportEmailFrom>
    <SupportEmailTo>gabrielsupport@blueflame.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>info@blueflame.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>info@blueflame.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\fileserver.home.flagship-housing.co.uk\Shared_Data\DATA\OPS_R&amp;G_Gasway\Gabriel\Blueflame\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>811 7491 37</VATNO>

    <CompanyName>Blueflame</CompanyName>
    <CompanyAddres1>2 Commerce Park</CompanyAddres1>
    <CompanyAddres2>Whitehall Road</CompanyAddres2>
    <CompanyAddres3>Colchester</CompanyAddres3>
    <CompanyAddres4>England</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>CO2 8HX</CompanyPostcode>
    <CompanyTelephoneNumber>01206 799994</CompanyTelephoneNumber>
    <CompanyWebsite>www.blueflame.co.uk</CompanyWebsite>
    <CompanyDomain>blueflame.co.uk</CompanyDomain>
  </Configuration>-->
  <Configuration>
    <DatabaseServer>gabrielsql.home.flagship-housing.co.uk</DatabaseServer>
    <DatabaseName>BlueflameServicesFsm_Beta</DatabaseName>
    <DatabaseUsername>sagas</DatabaseUsername>
    <DatabasePassword>gr3enTree79</DatabasePassword>
    <DatabasePort>3306</DatabasePort>
    <DatabaseFriendlyName>BETA - Blueflame</DatabaseFriendlyName>

    <SystemVersion>1.1.3</SystemVersion>
    <SuperAdminID>2</SuperAdminID>
    <SupportEmailFrom>gabrielsupport@blueflame.co.uk</SupportEmailFrom>
    <SupportEmailTo>gabrielsupport@blueflame.co.uk</SupportEmailTo>
    <SMTPServer>mailrelay.gasway.co.uk</SMTPServer>
    <SMTPServerUsername>sql</SMTPServerUsername>
    <SMTPServerPassword>sql100</SMTPServerPassword>
    <SalesEmailFrom>info@blueflame.co.uk</SalesEmailFrom>
    <FeedbackEmailFrom>info@blueflame.co.uk</FeedbackEmailFrom>
    <DocumentsLocation>\\fileserver.home.flagship-housing.co.uk\Shared_Data\DATA\OPS_R&amp;G_Gasway\Gabriel\Blueflame\Beta\</DocumentsLocation>
    <TemplateLocation>\Templates</TemplateLocation>
    <VATNO>811 7491 37</VATNO>

    <CompanyName>Blueflame</CompanyName>
    <CompanyAddres1>2 Commerce Park</CompanyAddres1>
    <CompanyAddres2>Whitehall Road</CompanyAddres2>
    <CompanyAddres3>Colchester</CompanyAddres3>
    <CompanyAddres4>England</CompanyAddres4>
    <CompanyAddres5>UK</CompanyAddres5>
    <CompanyPostcode>CO2 8HX</CompanyPostcode>
    <CompanyTelephoneNumber>01206 799994</CompanyTelephoneNumber>
    <CompanyWebsite>www.blueflame.co.uk</CompanyWebsite>
    <CompanyDomain>blueflame.co.uk</CompanyDomain>
  </Configuration>
</NewDataSet>